<!DOCTYPE html>
<html>
<head>
	<title>  Restaurant Management System </title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="stylesheets/main.css" rel="stylesheet">
</head>
<body>

  <%- include partials/header.ejs %>

  <div class="container-fluid" id="main-container">

    <p class="text-center" id="btn-wrap">
      <button class="btn btn-success" data-toggle="modal" data-target="#myModal">
        <i class="fa fa-plus"></i>  Add New Order</button>

			<button class="btn btn-success" onclick="navigateTo('/menu')">
	       <i class="fa fa-eye"></i>  View Menu</button>
    </p>

    <!-- <Modal> -->
    <div class="modal fade" id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-head">
            <h2 class="text-center modal-title">Select Customer</h2>
          </div>
					<div class="modal-body">
            <form action="/view-menu" id="view-menu">
							<select class="form-field" name="customer">
								<% for(var i=0;i< customer.length;i++) { %>
									<option value=<%= customer[i].name %>><%= customer[i].name %></option>
								<% } %>
							</select>
							<p class="text-center">OR</p>
							<p class="text-center">
							<button class="btn btn-success" id="findcust"> Add New Customer
							</button></p>

							<input type="submit" class="form-field" value="View Menu">
            </form>

          </div>
        </div>
      </div>
    </div>

    <!-- </Modal>-->

    <div class="col-xs-12 col-md-4 col-sm-6">
      <div class="box-wraper">
        <div class="box-head">
          <h3 class="text-center">Ongoing Orders</h3>
        </div>
        <div class="box-body">
					<table class="table table-hover">
						<tr>
							<th>customer Name</th>
							<th>Item Name</th>
						</tr>
						<% for(var i=0;i< ongoing_orders.length;i++) {%>
							<tr>
								<td><%= ongoing_orders[i].name %></td>
								<td>
									<% for(var j=0;j< ongoing_orders[i].items.length; j++) { %>
										<%= ongoing_orders[i].items[j] %><br>
									<% } %>
								</td>
								<td><i class="fa fa-check" style="cursor:pointer; color:darkgrey;color:green;"></i></td>
							</tr>
						<% } %>
					</table>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-md-4 col-sm-6">
      <div class="box-wraper">
        <div class="box-head">
          <h3 class="text-center">Orders Completed</h3>
        </div>
        <div class="box-body">
					<table class="table table-hover">
						<tr>
							<th>customer Name</th>
							<th>Item Name</th>
						</tr>
						<% for(var i=0;i< completed_orders.length;i++) {%>
							<tr>
								<td><%= completed_orders[i].name %></td>
								<td>
									<% for(var j=0;j< completed_orders[i].items.length; j++) { %>
										<%= completed_orders[i].items[j] %><br>
									<% } %>
								</td>
							</tr>
						<% } %>
					</table>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-md-4 col-sm-6">
      <div class="box-wraper">
        <div class="box-head">
          <h3 class="text-center">Customer Details</h3>
        </div>
        <div class="box-body">
          <table class="table table-hover">
            <tr>
              <th>Cid</th>
              <th>Name</th>
              <th>Address</th>
              <th>Phone</th>
            </tr>

            <% for(var i=0;i<customer.length;i++){%>
              <tr>
                <td><%= customer[i].cid %></td>
                <td><%= customer[i].name %></td>
                <td><%= customer[i].address %></td>
                <td><%= customer[i].phone %></td>
              </tr>



            <%}%>
          </table>
        </div>

				<div class="box-footer">
					<p class="text-center">
						<button class="btn btn-success" data-toggle="modal" data-target="#modalCustomer">
							Add New Customer</button>
					</p>
				</div>
      </div>
    </div>

		<!-- < Add new CustomerModal> -->
    <div class="modal fade" id="modalCustomer">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-head">
            <h2 class="text-center modal-title">Add New Customer</h2>
          </div>
					<div class="modal-body">
            <form action="/customer" method="POST">
              <input type="text" class="form-field" placeholder="Customer Name" name="customer">
              <input type="text" class="form-field" placeholder="Address" name="address">
              <input type="number" class="form-field" placeholder="Phone Number" name="phone">
              <input type="submit" value="Add Customer">
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- </ Add New Customer Modal>-->


    <div class="col-xs-12 col-md-4 col-sm-6">
      <div class="box-wraper">
        <div class="box-head">
          <h3 class="text-center">Employee Details</h3>
        </div>
        <div class="box-body">
          <table class="table table-hover">
            <tr>
              <th>Eid</th>
              <th>Name</th>
              <th>Address</th>
              <th>Phone</th>
              <th>Salary</th>
              <th>Gender</th>
            </tr>

            <% for(var i=0;i<emp.length;i++) {%>
              <tr>
                <td> <%= emp[i].eid %></td>
                <td> <%= emp[i].name %></td>
                <td> <%= emp[i].address %></td>
                <td> <%= emp[i].phone %></td>
                <td> <%= emp[i].salary %></td>
                <td> <%= emp[i].gender %></td>
              </tr>
            <%}%>
          </table>
        </div>

				<div class="box-footer">
					<p class="text-center">
						<button class="btn btn-success" data-toggle="modal" data-target="#modalEmp">
							Add New Employee</button>
					</p>
				</div>
      </div>
    </div>


		<!-- < Add new EmprModal> -->
    <div class="modal fade" id="modalEmp">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-head">
            <h2 class="text-center modal-title">Add New Employee</h2>
          </div>
					<div class="modal-body">
            <form action="/emp" method="POST">
              <input type="text" class="form-field" placeholder="Employee Name" name="emp">
              <input type="text" class="form-field" placeholder="Address" name="address">
              <input type="number" class="form-field" placeholder="Phone Number" name="phone">
							<input type="number" class="form-field" placeholder="Salary" name="salary">
							<select class="form-field" name="gender">
								<option value="M">Male</option>
								<option value="F">Female</option>
							</select>
              <input type="submit" value="Add Employee">
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- </ Add New Emp Modal>-->

  </div>

  <%- include partials/footer.ejs %>

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script>

		function navigateTo(data){
			window.location.href = data;
		}

		$('#findcust').click(function(){
			$('#myModal').modal('hide');
			$('#modalCustomer').modal('show');
		})

		$('#view-menu').submit(function(e){
			//e.preventDefault();
			//$(this).submit();
			//window.location.href = '/view-menu?customer='+$('select').val()

		})

		$('.fa-check').click(function(){

			var cname  = $(this).parent().parent().find('td').eq(0).text();

			$.post('/complete-order', {cname: cname}, function(success){
				window.location.href= '/home'
			})
		})

	</script>
</body>
</html>
