<!DOCTYPE html>

<html>
<head> <title> Restaurant Management System</title>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href="stylesheets/main.css" rel="stylesheet">
</head>

<body>

  <%- include partials/header.ejs %>

  <div class="col-md-2 col-sm-1"></div>
  <div class="col-md-8 col-sm-10" style="margin-top: 20px; margin-bottom: 40px;">
    <div class="box-wraper">
      <div class="box-head">
        <h2 class="text-center">Menu</h2>
        <div class="search-wrap">
          <i class="fa fa-search"></i>
          <input type="text" class="form-field" placeholder="Search your favourite food">
        </div>
        <button class="btn btn-success" id="addBtn" data-toggle="modal" data-target="#menuModal">
          <i class="fa fa-plus"></i>  Add New Item
        </button>
      </div>
      <div class="box-body" id="menubox">
        <% for( item in menu){ %>
          <h3 class="text-center"><%= item %></h3>
          <table class="table table-hover">
            <tr>
              <th class="text-center">iid</th>
              <th class="text-center">name</th>
              <th class="text-center">price</th>
            </tr>
            <% for(var i=0;i < menu[item].length;i++) { %>
              <tr>
                <td class="text-center"><%= i+1 %></td>
                <td class="text-center"><%= menu[item][i].name %></td>
                <td class="text-center"><%= menu[item][i].price %></td>
                <td> <i class="fa fa-trash" style="color: red;font-size:22px;cursor:pointer"></i></td>
              </tr>
            <%}%>
          </table>
        <% } %>
      </div>
    </div>
  </div>


      <!-- <Modal> -->
      <div class="modal fade" id="menuModal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-head">
              <h2 class="text-center modal-title">New Item</h2>
            </div>

            <div class="modal-body">
              <form action="/menu" method="POST">
                <input type="text" class="form-field" placeholder="Item Name" name="item" required>
                <input type="number" class="form-field" placeholder="Price" name="price" required>
                <i class="fa fa-caret-down"></i>
                <select class="form-field" name="type">
                  <option value="Indian Snacks">Indian Snacks</option>
                  <option value="Soups">Soups</option>
                  <option value="Starters">Starters</option>
                  <option value="Main Course">Main Course</option>
                  <option value="Breads">Breads</option>
                  <option value="Salads">Salads</option>
                  <option value="Beverages">Beverages</option>
                  <option value="Deserts">Deserts</option>
                  <option value="Chinese">Chinese</option>
                  <option value="Continental">Continental</option>
                </select>
                <input type="submit" value="ADD">

              </form>

            </div>


          </div>
        </div>

      </div>

      <!-- </Modal>-->




  <%- include partials/footer.ejs %>


  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script>

  $(document).ready(function(){

    $('.fa-trash').click(function(){

      var siblings = $(this).parent().siblings()

      var item = $(siblings[1]).text()

      $.post('/delete-item', {itemName: item}, function(result){
        console.log(result)
        window.location.href=result
      })
    })

    $('.search-wrap input').keyup(function(){
      var searchQuery = $(this).val()

      if(searchQuery === ''){
        console.log("deleted");

        $('#menubox').empty();
        $('#menubox').append(`<% for( item in menu){ %>
          <h3 class="text-center"><%= item %></h3>
          <table class="table table-hover">
            <tr>
              <th class="text-center">iid</th>
              <th class="text-center">name</th>
              <th class="text-center">price</th>
            </tr>
            <% for(var i=0;i < menu[item].length;i++) { %>
              <tr>
                <td class="text-center"><%= i+1 %></td>
                <td class="text-center"><%= menu[item][i].name %></td>
                <td class="text-center"><%= menu[item][i].price %></td>
                <td> <i class="fa fa-trash" onclick="deleteItem(event)" style="color: red;font-size:22px;cursor:pointer"></i></td>
              </tr>
            <%}%>
          </table>
        <% } %>`)
      }
      else{
        $.post('/searchMenu', {query: searchQuery}, function(success){
          console.log(success);

          if(success.err)
            alert('An error Occured');
          else{
            $('#menubox').empty();
            $('#menubox').append('<h3 class="text-center">Search results for "'+ searchQuery +'"</h3>')
            $('#menubox').append(`
              <table class="table table-hover">
                <tr>
                  <th class="text-center">iid</th>
                  <th class="text-center">name</th>
                  <th class="text-center">price</th>
                </tr>
              </table>
            `);

            for(var i=0;i<success.results.length;i++)
              $('#menubox table').append(`
                <tr>
                  <td class="text-center">${success.results[i].iid}</td>
                  <td class="text-center">${success.results[i].name}</td>
                  <td class="text-center">${success.results[i].price}</td>
                  <td> <i class="fa fa-trash" onclick="deleteItem(event)" style="color: red;font-size:22px;cursor:pointer"></i></td>
                </tr>
              `)
          }

        })
      }

    })

  })

  function deleteItem(e){
    var ele = e.target

    var siblings = $(ele).parent().siblings()

    var item = $(siblings[1]).text()

    $.post('/delete-item', {itemName: item}, function(result){
      console.log(result)
      window.location.href=result
    })
  }

  </script>
</body>

</html>
