<!DOCTYPE html>

<html>
<head> <title> Restaurant Management System</title>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href="stylesheets/main.css" rel="stylesheet">
</head>

<body>

  <%- include partials/header.ejs %>

  <div class="col-md-2 col-sm-1"></div>
  <div class="col-md-8 col-sm-10" style="margin-top: 20px; margin-bottom: 40px;">
    <div class="box-wraper">
      <div class="box-head">
        <button class="btn btn-success" id="addBtn" data-toggle="modal" data-target="#orderModal">
          <i class="fa fa-check"></i>  Place Order
        </button>
        <h2 class="text-center">Menu</h2>
      </div>
      <div class="box-body" id="menubox">
        <% for( item in menu){ %>
          <h3 class="text-center"><%= item %></h3>
          <table class="table table-hover">
            <tr>
              <th class="text-center">iid</th>
              <th class="text-center">name</th>
              <th class="text-center">price</th>
            </tr>
            <% for(var i=0;i < menu[item].length;i++) { %>
              <tr class="item-row" style="cursor: pointer;">
                <td class="text-center"><%= i+1 %></td>
                <td class="text-center"><%= menu[item][i].name %></td>
                <td class="text-center"><%= menu[item][i].price %></td>
                <td> <i class="fa fa-check" style="color: darkgrey;font-size:22px;cursor:pointer"></i></td>
              </tr>
            <%}%>
          </table>
        <% } %>
      </div>
    </div>
  </div>


      <!-- <Modal> -->
      <div class="modal fade" id="orderModal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-head">
              <h2 class="text-center modal-title">Review Order</h2>
            </div>

            <div class="modal-body">
              <form action="/order" method="POST">
                <input type="text" class="form-field" placeholder="Customer Name" name="customer"
                 value="<%=customer%>"  readonly>
                <div class="selectedItems">

                </div>

                <input type="submit" value="Place Order">

              </form>

            </div>


          </div>
        </div>

      </div>

      <!-- </Modal>-->




  <%- include partials/footer.ejs %>


  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script>

  $(document).ready(function(){
    var items=[], price=[];


    $('.item-row').click(function(){
      var item = $(this).children()[3];

      if($(item).children().hasClass('added')){
        $(item).children().removeClass('added')

        $(this).each(function(){
          items.splice(items.indexOf($(this).find('td').eq(1).html()), 1);
          price.splice(price.indexOf($(this).find('td').eq(2).html()), 1);
        })

        console.log(items)
        console.log(price)

        $('.selectedItems').empty();
        for(var i=0;i<items.length;i++)
        $('.selectedItems').append(`
            <div class="col-xs-6">
              <input type="text" class="form-field" name="item${i}" value="${items[i]}"
                readonly>
            </div>
            <div class="col-xs-6">
              <input type="text" class="form-field" name="price${i}" value="${price[i]}"
                readonly>
            </div>
        `)

      }
      else {
        $(item).children().addClass('added')

        $(this).each(function(){
          items.push($(this).find('td').eq(1).html())
          price.push($(this).find('td').eq(2).html())

        })
        console.log(items)
        console.log(price)

        $('.selectedItems').empty();
        for(var i=0;i<items.length;i++)
          $('.selectedItems').append(`
              <div class="col-xs-6">
                <input type="text" class="form-field" name="item${i}" value="${items[i]}"
                  readonly>
              </div>
              <div class="col-xs-6">
                <input type="text" class="form-field" name="price${i}" value="${price[i]}"
                  readonly>
              </div>
          `)

      }
    })

  })

  </script>
</body>

</html>
